.Main {
  margin: 0 auto;
  width: 65%;
  background-color: #1b1d1f;
  background-image: url("../assets/vector.svg");
  background-repeat: no-repeat;
  background-position-y: 3rem;
  background-position-x: right;
  padding: 5rem 1.5rem;
  margin-top: 10rem;
  border-radius: 20px;
}

h1 {
  font-size: 2rem !important;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  font-size: 1rem !important;
  color: #6f757c;
}

.Btns-container {
  margin: 2rem 1rem 3rem;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  color: #fef7ee;
}

.Active {
  background-color: #6f757c;
}

/* media queries  */

/* medium screens */
@media screen and (min-width: 640px) {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  li {
    flex-basis: 40%;
  }
}

/* large screens */

@media screen and (min-width: 1024px) {
  li {
    flex-basis: 30%;
  }
}
