#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url("./assets/bg-cafe.jpg");
  background-size: 100% 17%;
  background-repeat: no-repeat;
  color: #fef7ee;
  background-color: #111315;
}

.image-bg {
  height: 20%;
}
